<div id="contact">
      <div class="container">
        <div class="row">
          <div class="contact-left">
            <h1 class="sub-title">Contact Us</h1>
    
            <p> <i class="fa-solid fa-paper-plane"></i>contact@example.com</p>
            <p><i class="fa-solid fa-mobile"></i>012346789</p>
            <div class="social-icons">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <a href="/static/images/my-cv.pdf" download="" class="btn btn-2 cubtn">Download CV</a>
          </div>
          <div class="contact-right">
            <form name="submit-to-google-sheet">
              <input type="text" name="Name" placeholder="Your Name" required="">
              <input type="text" name="Email" placeholder="Your Email" required="">
              <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
              <button type="submit" class="btn btn-2 cubtn">Submit</button>
            </form>
            <span id="msg"></span>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright @ Pratham.</p>
      </div>
    </div>