    <div class="navigation">
      <div class="sections-1">
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/india">India</a></li>
          <li><a href="/">About</a></li>
          <li><a href="#contact">Feedback</a></li>
        </ul>
      </div>
      <h2 class="divider">|</h2>
      <div class="sections-2">
        <ul class="nav-links">
          <li><a href="/general">General</a></li>
          <li><a href="/entertainment">Entertainment</a></li>
          <li><a href="/business">Business</a></li>
          <li><a href="/health">Health</a></li>
          <li><a href="/technology">Technology</a></li>
          <li><a href="/sports">Sports</a> </li>
          <li><a href="/science">Science</a> </li>
          </ul>
        </ul>
      </div>
    </div>
